<% provide :title, t(:help) %>
<h1><%= t :help %></h1>
<p>
  <%= t :help_des %>
  <a href="https://www.railstutorial.org/help"><%= t :help_sec %></a>.
  <%= t :help_purpose %>
  <a href="https://www.railstutorial.org/book"><em><%= t :ror_tuto %></em>
  book</a>.
</p>
