<% provide :title, t(:home) %>
<h1><%= t :welcome %>
  <%= t :home_greeting %>
</h1>
<h2>
  <%= t :home_des %>
  <a href="https://www.railstutorial.org/"><%= t :ror_tuto %></a>
  <%= t :home_sample %>
</h2>
